$font-size: 20px;

button{
   color: rgb(255, 255, 255);
   font-size: $font-size;
   padding: 5px 15px;
   background-color: #5d2ef5;
   border: 1px solid #f1f1f1;
   border-radius: 3px;
}

:fullscreen{
   color: azure;
}
   
